<h1 style="text-align: center">Welcome to Book Catalogue App</h1>
<div style="text-align: center">
  <%= form_tag "/search" do %>
    <div>
      <p><%= label_tag(:category, "Search By Category") %></p>
      <p><%= collection_select(:category,:category_id, @categories, :id, :name) %></p>
<!--      <p><%#= text_field_tag(:category, nil) %></p>-->
      <p><%=hidden_field(:logged, nil, :value=>false) %></p>
    </div>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<div style="margin:0 auto">
<% if @books.blank? %>
  <p>There are not any books currently in the
    system.</p>
<% else %>
  <p>These are the current books in our
    system</p>
  <ul id="books">
    <% @books.each do |b| %>
      <li>
        <%= b.title %> |
        <%= link_to "Show", {:controller=>'books',:action => 'show', :id => b.id, :logged=>false} %>|
      </li>
    <% end %>
  </ul>
<% end %>
<% if @categories.blank? %>
  <p>There are not any categories currently in the
    system.</p>
<% else %>
  <p>These are the current categories in our
    system</p>
  <ul id="categories">
    <% @categories.each do |c| %>
      <li>
        <%= c.name %>
      </li>
    <% end %>
  </ul>
<% end %>
<p>
<%#if $is_logged %>
  <%#= link_to "Add new Book", {:controller=>'books',:action => 'new' }%>
  <%#= link_to "Logout", :controller => 'books', :action => 'list'%>
  <%#else %>
<%= link_to "Login", :controller => 'admins', :action => 'show'%>
<%#end %>
</p>
</div>